.container  {

	width: 800px;
	text-align: : center;
}

p , li {
	color: #707070;
}

h1 {
	color:  #DB0038;
}
h2 {
color:  #3998A3;
}

h3{
color: #474747;
}

.hero {
	background-color: #f4f4f4;
text-align: center;
padding-bottom: 10px;
}


li{
padding: 5px 0px ;

}
	
	
#stars {
	color: #F4B400;
	font-size:  25px;
}

footer {
	text-align: center
}